:host {
    display: block;
    font-family: 'Kantumruy Pro', sans-serif !important;
}
:host *, :host ::ng-deep * {
    font-family: 'Kantumruy Pro', sans-serif !important;
}
input, select, textarea, button, label, span, p, div, table, th, td, h1, h2, h3 {
    font-family: 'Kantumruy Pro', sans-serif !important;
}
