.take-attendance-panel .mat-mdc-dialog-surface.mdc-dialog__surface,
.center-dialog.no-padding .mat-mdc-dialog-surface.mdc-dialog__surface {
    padding: 0 !important;
    border-radius: 1.5rem !important;
    overflow: hidden !important;
    background: transparent !important;
    box-shadow: none !important;
}
