.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
span.text-sm p {
  margin: 0;
  font-size: inherit;
}

.group-chats-wallpaper-menu {
  max-width: none !important;
}

.group-chats-wallpaper-trigger .mat-mdc-menu-submenu-icon {
  display: none;
}

.group-chats-wallpaper-menu .mat-mdc-menu-content {
  padding: 0;
}
