<ng-container *ngIf="!dialogRef; else dialogLayout">
<div class="section">
    <div class="container">
        <div class="relative w-full px-3 h-[325px]">
            <!-- Action -->
            <div class="h-8 flex justify-between items-center">
                <!-- Back -->
                <button  (click)="navigateBack()" mat-icon-button class="absolute top-[18px] left-4 hover:bg-slate-50 rounded-full w-9 h-9 flex items-center justify-center">
                    <mat-icon mat-icon-button svgIcon="mdi:arrow-left"></mat-icon>
                </button>
                <!-- Language -->
                <!-- <languages></languages> -->
            </div>
            <div class="flex flex-col justify-center items-center gap-4">
                <div class="flex items-center justify-center w-22 h-22 rounded-full bg-[#f3f4f5]">
                    <mat-icon class="icon-size-[60px] text-black"
                        svgIcon="mdi:lock"></mat-icon>
                </div>
                <!-- <span class="text-3xl leading-6 font-medium"> ពាក្យសម្ងាត់ </span> -->
                <span class="font-normal pl-2 text-lg text-center text-gray-500">{{ 'Auth.Common.RememberPassword' | transloco }}<br/>{{ 'Auth.Common.KeepSafe' | transloco }}</span>
            </div>

            <form class="w-full flex flex-col items-center justify-end h-full gap-4" [formGroup]="form" #signInNgForm="ngForm">
                <div class="form-field w-full relative">
                    <div class="input-container">
                        <input matInput type="password" [formControlName]="'password'" id="password" placeholder=" " #passwordField class="pl-13" (keydown.enter)="signIn()"/>
                        <label for="password">{{ 'Auth.Common.Password' | transloco }}</label>
                        <mat-icon class="prefix-icon text-slate-500" svgIcon="mdi:lock"></mat-icon>
                        <button mat-icon-button class="suffix-icon suffix-icon-right" type="button"
                                (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')">
                            <mat-icon [svgIcon]="passwordField.type === 'password' ? 'mdi:eye' : 'mdi:eye-off'"></mat-icon>
                        </button>
                        <button mat-icon-button class="suffix-icon suffix-icon-left" type="button" (click)="navigateToRandomPasswordGenerator()">
                            <mat-icon svgIcon="mdi:star"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex gap-4 w-full h-2">
                    <!-- First bar -->
                    <div
                        class="w-full rounded-full h-full"
                        [class.bg-gray-300]="matchedCount === 0"
                        [class.bg-red-500]="matchedCount === 1"
                        [class.bg-orange-500]="matchedCount === 3 || matchedCount === 2"
                        [class.bg-green-500]="matchedCount === 4"
                    ></div>

                    <!-- Second bar -->
                    <div
                        class="w-full rounded-full h-full"
                        [class.bg-gray-300]="matchedCount < 3"
                        [class.bg-orange-500]="matchedCount === 3"
                        [class.bg-green-500]="matchedCount === 4"
                    ></div>

                    <!-- Third bar -->
                    <div
                        class="w-full rounded-full h-full"
                        [class.bg-gray-300]="matchedCount < 4"
                        [class.bg-green-500]="matchedCount === 4"
                    ></div>
                </div>
                <div class="flex w-full flex-col items-start gap-2">
                    <div class="flex gap-3 items-center">
                        <mat-icon *ngIf="hasMinLength" svgIcon="mdi:check-circle-outline" class="text-green-600"></mat-icon>
                        <mat-icon *ngIf="!hasMinLength" svgIcon="mdi:progress-check" class="text-gray-500"></mat-icon>
                        <span [class.text-green-600]="hasMinLength">{{ 'ChangePassword.MinLength' | transloco }}</span>
                    </div>

                    <div class="flex gap-3 items-center">
                        <mat-icon *ngIf="hasLowerCase" svgIcon="mdi:check-circle-outline" class="text-green-600"></mat-icon>
                        <mat-icon *ngIf="!hasLowerCase" svgIcon="mdi:progress-check" class="text-gray-500"></mat-icon>
                        <span [class.text-green-600]="hasLowerCase">{{ 'ChangePassword.LowerCase' | transloco }}</span>
                    </div>

                    <div class="flex gap-3 items-center">
                        <mat-icon *ngIf="hasUpperCase" svgIcon="mdi:check-circle-outline" class="text-green-600"></mat-icon>
                        <mat-icon *ngIf="!hasUpperCase" svgIcon="mdi:progress-check" class="text-gray-500"></mat-icon>
                        <span [class.text-green-600]="hasUpperCase">{{ 'ChangePassword.UpperCase' | transloco }}</span>
                    </div>

                    <div class="flex gap-3 items-center">
                        <mat-icon *ngIf="hasSpecialChars" svgIcon="mdi:check-circle-outline" class="text-green-600"></mat-icon>
                        <mat-icon *ngIf="!hasSpecialChars" svgIcon="mdi:progress-check" class="text-gray-500"></mat-icon>
                        <span [class.text-green-600]="hasSpecialChars">{{ 'CreatePasswordLoginCode.SpecialChars' | transloco }}</span>
                    </div>
                </div>

                <button class="helper-mat-button-md w-full mt-4" mat-flat-button [color]="'primary'"(click)="signIn()" [disabled]="matchedCount < 4">
                    <span > {{ 'Auth.Sign-In.Action' | transloco }} </span>
                    <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'" />
                </button>
            </form>

        </div>
    </div>
</div>
</ng-container>

<ng-template #dialogLayout>
    <div class="flex flex-col w-full h-[520px] p-3 gap-3 section">
        <!-- Close Button -->
        <div class="flex justify-end">
            <button mat-icon-button (click)="dialogRef.close()" type="button">
                <mat-icon svgIcon="mdi:close"></mat-icon>
            </button>
        </div>

        <!-- Header -->
        <div class="flex flex-col justify-center items-center">
            <div class="flex items-center justify-center w-20 h-20 rounded-full bg-[#f3f4f5] dark:bg-white/10">
                <mat-icon class="icon-size-[50px] text-black dark:text-slate-100" svgIcon="mdi:lock"></mat-icon>
            </div>
            <span class="text-3xl font-medium">{{ 'Auth.Common.Password' | transloco }}</span>
            <span class="font-normal text-lg text-center text-gray-500 dark:text-slate-400">{{ 'Auth.Common.RememberPassword' | transloco }}<br/>{{ 'Auth.Common.KeepSafe' | transloco }}</span>
        </div>

        <!-- Form -->
        <form [formGroup]="form" class="md-form-field-appearance-outline">
            <!-- Password Input -->
            <mat-form-field appearance="outline" class="w-full">
                <!-- <div class="md-form-field-appearance-outline"> -->
                    <mat-label>{{ 'Auth.Sign-In.Password' | transloco }}</mat-label>
                    <mat-icon matPrefix class="xxxxtext-slate-500" svgIcon="mdi:lock"></mat-icon>
                    <input matInput type="password" [formControlName]="'password'" id="password-dialog" placeholder=" " #passwordField (keydown.enter)="signIn()"/>
                    <button matSuffix mat-icon-button class="suffix-icon suffix-icon-right" type="button"
                            (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')">
                        <mat-icon [svgIcon]="passwordField.type === 'password' ? 'mdi:eye' : 'mdi:eye-off'"></mat-icon>
                    </button>
                    <button matSuffix mat-icon-button class="suffix-icon suffix-icon-left" type="button" (click)="navigateToRandomPasswordGenerator()">
                        <img src="images/placeholder/stars.png" alt="Random Password" class="w-6 h-6">
                    </button> 
                <!-- </div> -->
            </mat-form-field>

            <!-- Strength Bars -->
            <div class="flex gap-3 w-full h-1">
                <div
                    class="w-full rounded-full h-full"
                    [class.bg-gray-300]="matchedCount === 0"
                    [class.bg-red-500]="matchedCount === 1 || matchedCount === 2"
                    [class.bg-orange-500]="matchedCount === 3 "
                    [class.bg-green-500]="matchedCount === 4"
                ></div>
                <div
                    class="w-full rounded-full h-full"x
                    [class.bg-gray-300]="matchedCount < 3"
                    [class.bg-orange-500]="matchedCount === 3"
                    [class.bg-green-500]="matchedCount === 4"
                ></div>
                <div
                    class="w-full rounded-full h-full"
                    [class.bg-gray-300]="matchedCount < 4"
                    [class.bg-green-500]="matchedCount === 4"
                ></div>
            </div>

            <!-- Requirements -->
            <div class="flex flex-col text-sm gap-2">
                <div class="flex gap-2 items-center">
                    <mat-icon *ngIf="hasMinLength" svgIcon="mdi:check-circle-outline" class="text-green-600 dark:text-green-400 text-base icon-size-[20px]"></mat-icon>
                    <mat-icon *ngIf="!hasMinLength" svgIcon="mdi:progress-check" class="text-gray-500 dark:text-slate-400 text-base icon-size-[20px]"></mat-icon>
                    <span [ngClass]="hasMinLength ? 'text-green-600 dark:text-green-400' : 'text-gray-600 dark:text-slate-400'" class="text-lg">{{ 'ChangePassword.MinLength' | transloco }}</span>
                </div>
                <div class="flex gap-2 items-center">
                    <mat-icon *ngIf="hasLowerCase" svgIcon="mdi:check-circle-outline" class="text-green-600 dark:text-green-400 text-base icon-size-[20px]"></mat-icon>
                    <mat-icon *ngIf="!hasLowerCase" svgIcon="mdi:progress-check" class="text-gray-500 dark:text-slate-400 text-base icon-size-[20px]"></mat-icon>
                    <span [ngClass]="hasLowerCase ? 'text-green-600 dark:text-green-400' : 'text-gray-600 dark:text-slate-400'" class="text-lg">{{ 'ChangePassword.LowerCase' | transloco }}</span>
                </div>
                <div class="flex gap-2 items-center">
                    <mat-icon *ngIf="hasUpperCase" svgIcon="mdi:check-circle-outline" class="text-green-600 dark:text-green-400 text-base icon-size-[20px]"></mat-icon>
                    <mat-icon *ngIf="!hasUpperCase" svgIcon="mdi:progress-check" class="text-gray-500 dark:text-slate-400 text-base icon-size-[20px]"></mat-icon>
                    <span [ngClass]="hasUpperCase ? 'text-green-600 dark:text-green-400' : 'text-gray-600 dark:text-slate-400'" class="text-lg">{{ 'ChangePassword.UpperCase' | transloco }}</span>
                </div>
                <div class="flex gap-2 items-center">
                    <mat-icon *ngIf="hasSpecialChars" svgIcon="mdi:check-circle-outline" class="text-green-600 dark:text-green-400 text-base icon-size-[20px]"></mat-icon>
                    <mat-icon *ngIf="!hasSpecialChars" svgIcon="mdi:progress-check" class="text-gray-500 dark:text-slate-400 text-base icon-size-[20px]"></mat-icon>
                    <span [ngClass]="hasSpecialChars ? 'text-green-600 dark:text-green-400' : 'text-gray-600 dark:text-slate-400'" class="text-lg">{{ 'CreatePasswordLoginCode.SpecialChars' | transloco }}</span>
                </div>
            </div>

            <!-- Submit Button -->
            <button class="helper-mat-button-md w-full" mat-flat-button color="primary" (click)="signIn()" [disabled]="matchedCount < 4" type="button">
                <span *ngIf="!form.disabled">{{ 'Auth.Common.Next' | transloco }}</span>
                <mat-progress-spinner *ngIf="form.disabled" [diameter]="20" [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </form>
    </div>
</ng-template>
