.helper-navigation-aside-wrapper {
    background-color: #1e3a8a !important; 
}
.helper-navigation-aside-wrapper .helper-navigation-item-active {
    background-color: rgba(37, 99, 235, 0.2) !important; 
}
.helper-navigation-appearance-compact .helper-navigation-item-title {
    white-space: nowrap !important;
    font-weight: normal !important;
}
.helper-navigation-appearance-compact .helper-navigation-item-arrow {
    display: none !important;
}