StrictHostKeyChecking no
UserKnownHostsFile /dev/null
User root
SendEnv LANG LC_*
HashKnownHosts yes
GSSAPIAuthentication yes

Host camcyber_dev
     HostName 217.15.164.171
     IdentityFile .ssh/id_rsa
     ServerAliveInterval 30
     ServerAliveCountMax 6

Host camcyber_prod
     HostName 194.233.85.75
     IdentityFile .ssh/id_rsa
     ServerAliveInterval 30
     ServerAliveCountMax 6
